{% extends "base.html" %}
{% load static %}
{% block title %}{{ object.name }}{% endblock %}
{% block content %}
<section>
</section>
<section id="portfolio-details" class="portfolio-details section-bg">
  <div class="container">
    <div class="row gy-4">
      <div class="col-md-6" >
        <div class="portfolio-details-slider swiper">
          <div class="swiper-wrapper align-items-center">
            {% for image in object.images.all %}
            <div class="swiper-slide">
              <img src="{{ image.image.url }}" alt="">
            </div>
            {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="portfolio-description">
          <h2>{{ object.title }}</h2>
          <p>{{ object.text|safe }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
