{% extends "base.html" %}
{% load static %}
{% block title %}{{ object.name }}{% endblock %}
{% block content %}
<section>
</section>
<section id="portfolio-details" class="portfolio-details section-bg">
  <div class="container">
    <div class="row gy-4">
      <div class="col-md-6" >
        <div class="portfolio-details-slider swiper">
          <div class="swiper-wrapper align-items-center">
            {% for image in project_images.all %}
            <div class="swiper-slide">
              <a href="{{ image.image.url }}" data-gallery="portfolioGallery"
                class="portfolio-lightbox"><img src="{{ image.image.url }}" alt=""></a>
            </div>
            {% endfor %}
          </div>
          <div class="swiper-button-prev" style="color: #d3d3d342"></div>
          <div class="swiper-button-next" style="color: #d3d3d342"></div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="portfolio-description">
          <h2>{{ object.title }}</h2>
          <p>{{ object.text|safe }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block js %}
<script>
  var swiper = new Swiper('.swiper', {
      direction: 'horizontal',
      loop: true,
      centeredSlides: true,
      autoplay: true,
      simulateTouch:true,

      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
</script>
{% endblock %}
