{% load static %}
<nav class="shop-sidebar card py-2 mb-4">
    <div class="sidebar-item search-form">
      <form action="{% url 'search_results' %}" method="get">
      <input name="search" type="text" placeholder="Поиск в оборудовании">
      <button type="submit"><i class="bi bi-search"></i></button>
      </form>
    </div>
    <ul class="nav flex-column" id="nav_accordion">
      <li class="nav-item has-submenu">
        <a class="nav-link" href="#">Двигатели<i class="bi small bi-caret-down-fill"></i> </a>
        <ul class="submenu active">
          <li class="nav-item has-submenu">
            <a class="nav-link" href="#">Турбореактивные двигатели<i class="bi small bi-caret-down-fill"></i> </a>
            <ul class="submenu collapse">
              <li><a class="nav-link" href="#">JetCat</a></li>
              <li><a class="nav-link" href="#">KingTech</a></li>
            </ul>
          </li>
          <li><a class="nav-link" href="#">Турбовинтовые двигатели</a></li>
          <li><a class="nav-link" href="#">Бензиновые двигатели</a> </li>
        </ul>
      </li>
      <li class="nav-item has-submenu">
        <a class="nav-link" href="#">Электроника<i class="bi small bi-caret-down-fill"></i> </a>
        <ul class="submenu collapse">
          <li><a class="nav-link" href="#">Системы бортового питания</a></li>
          <li><a class="nav-link" href="#">Рулевые машинки</a></li>
          <li><a class="nav-link" href="#">Гироскопы</a></li>
          <li><a class="nav-link" href="#">Аккумуляторы</a></li>
        </ul>
      </li>
      <li class="nav-item has-submenu">
        <a class="nav-link" href="#">Комплектующие<i class="bi small bi-caret-down-fill"></i> </a>
        <ul class="submenu collapse">
          <li><a class="nav-link" href="#">Для реактивных двигателей</a></li>
          <li><a class="nav-link" href="#">Топливная система</a></li>
          <li><a class="nav-link" href="#">Выхлопная система</a></li>
          <li><a class="nav-link" href="#">Дымовая система</a></li>
        </ul>
      </li>
    </ul>
    <h3 class="sidebar-title">Недавно просмотренные</h3>
    <div class="sidebar-item recent-products">
      <div class="shop-item clearfix">
        <img src="https://www.powerbox-systems.com/uploads/tx_pbsproducts/4450_01_Hauptbild_PB_Competition_SR2.png" alt="">
        <h4><a href="blog-single.html">PowerBox</a></h4>
        <p>Электроника</p>
      </div>
      <div class="sidebar-item recent-products">
      <div class="shop-item clearfix">
        <img src="https://www.powerbox-systems.com/typo3temp/pics/c313a50095.png" alt="">
        <h4><a href="blog-single.html">PowerBox</a></h4>
        <p>Электроника</p>
      </div>
      <div class="sidebar-item recent-products">
      <div class="shop-item clearfix">
        <img src="https://www.jetcat.de/jetcat/produkte/2020/P100.jpg" alt="">
        <h4><a href="blog-single.html">JetCat P100-RX</a></h4>
        <p>Турбины</p>
      </div>
      <div class="sidebar-item recent-products">
      <div class="shop-item clearfix">
        <img src="https://www.powerbox-systems.com/uploads/tx_pbsproducts/4450_01_Hauptbild_PB_Competition_SR2.png" alt="">
        <h4><a href="blog-single.html">PowerBox</a></h4>
        <p>Электроника</p>
      </div>
  </nav>
  <script src="{% static '/assets/js/equipSidebar.js' %}"></script>
