{% extends "base.html" %}
{% load static %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">
      <div class="d-flex justify-content-between align-items-center">
      <h2>Оборудование / {{ object.brend.subcategory.category.name }} / {{ object.brend.subcategory.name }} / {{ object.brend.name }} {{ object.name }}</h2>
      </div>
  </div>
  </section>
  <!-- <div class="modal fade" tabindex="-1" role ="dialog" id ="modal">
    <div class="modal-dialog" role ="document">
      <div class="modal-content"></div>
    </div>
  </div> -->
<section id="shop" class="shop section-bg">
    <div class="container" data-aos="fade-up" data-aos-duration="300">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
          {% include 'equipment/includes/sidebar.html' %}
        </div>

        <div class="col-lg-9 col-md-8 col-sm-6" >
          <section id="details">
            <div class="row">
                <div class="col-lg-5 col-md-9 col-sm-12" >
                  <div class="portfolio-details-slider swiper">
                    <div class="swiper-wrapper">
                      {% for image in object.equipmentitemimage_set.all %}
                      <div class="swiper-slide">
                        <a href="{{ image.image.url }}" data-gallery="portfolioGallery" class="portfolio-lightbox">
                          <img src="{{ image.image.url }}" style="max-width: 400px; max-height: auto; object-position: center;" alt="">
                        </a>
                      </div>
                      {% endfor %}
                    </div>
                    <div class="swiper-button-prev" style="color: #d3d3d342"></div>
                    <div class="swiper-button-next" style="color: #d3d3d342"></div>
                  </div>
                </div>


                <div class="col-lg-7 col-md-12 col-sm-12 gy-3">
                  <div class="shop-detail-description">
                    <h2>{{ object.name }}</h2>
                    <p>{{ object.title }}</p>
                  </div>
                  <div class="row">
                    <div class="col text-center p-3">
                      <a href="mailto:info@rusjet.ru" class="getstarted" href="#about">Запросить наличие</a>
                      <!-- <a id="create-question" class="getstarted" href="#about">Запросить наличие</a> -->
                    </div>
                  </div>
                </div>

                <div class="col-lg-10 col-md-12 col-sm-12 gy-3">
                  <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" style="color: #3598db;" id="technical-tab" data-bs-toggle="tab" data-bs-target="#technical" type="button" role="tab" aria-controls="technical" aria-selected="true">Технические характеристики</button>
                    </li>
                    {% if object.equipmentitemdocument_set.first %}
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" style="color: #3598db" id="documentation-tab" data-bs-toggle="tab" data-bs-target="#documentation" type="button" role="tab" aria-controls="documentation" aria-selected="false">Документация</button>
                    </li>
                    {% endif %}
                    {% if object.equipmentitemyoutubevideourl_set.first %}
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" style="color: #3598db;" id="videos-tab" data-bs-toggle="tab" data-bs-target="#videos" type="button" role="tab" aria-controls="videos" aria-selected="false">Видео</button>
                    </li>
                    {% endif %}
                  </ul>
          </section>



                    <div class="tab-content" id="myTabContent">


                        <div class="tab-pane fade show active" id="technical" role="tabpanel" aria-labelledby="technical-tab">
                          <div class="card mb-3">
                              <div class="card-body d-flex align-items-center">
                                <div class="pl-3 data">
                                  <p class="m-0">{{ object.tech_data|safe }}</p>
                                </div>
                              </div>
                          </div>
                        </div>
                        {% if object.equipmentitemdocument_set.first %}
                        <div class="tab-pane fade" id="documentation" role="tabpanel" aria-labelledby="documentation-tab">
                          {% for document in object.equipmentitemdocument_set.all %}
                            <div class="card mb-3">
                              <a href="{{ document.document.url }}">
                                <div class="card-body d-flex align-items-center">
                                  <div class="icon">
                                    <i class="bi bi-file-pdf" style="font-size: 2rem;"></i>
                                  </div>
                                  <div class="pl-3 data">
                                    <p class="m-0">	{{ document.name }}</p>
                                  </div>
                                </div>
                              </a>
                            </div>
                          {% endfor %}

                        </div>
                        {% endif %}

                        {% if object.equipmentitemyoutubevideourl_set.first %}
                        <div class="tab-pane fade" id="videos" role="tabpanel" aria-labelledby="videos-tab">
                          <div class="card mb-3">
                            {% for video_url in object.equipmentitemyoutubevideourl_set.all %}
                            <div class='embed-container mb-3'><iframe src='{{ video_url.video_url }}' frameborder='0' allowfullscreen></iframe></div>
                            {% endfor %}
                          </div>
                        </div>
                        {% endif %}







                    </div>




                </div>

            </div>

        </div>

      </div>

    </div>
</section>

{% endblock %}
{% block js %}
<script>
  var swiper = new Swiper('.swiper', {
      direction: 'horizontal',
      loop: true,
      centeredSlides: true,
      autoplay: true,
      simulateTouch:true,

      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
</script>
<!-- <script type="text/javascript">
  $(document).ready(function() {

      $("#create-question").modalForm({
          formURL: "{% url 'create_question' %}"
      });

  });
</script> -->
{% endblock %}
