{% extends "base.html" %}
{% load static %}

{% block title %}Оборудование{% endblock %}

{% block content %}
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">
      <div class="d-flex justify-content-between align-items-center">
      <h2>Оборудование</h2>
      </div>
  </div>
  </section>
<section id="shop" class="shop section-bg">
    <div class="container" data-aos="fade-up" data-aos-duration="300">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
          {% include 'equipment/includes/sidebar.html' %}
        </div>
        <div class="col" data-aos="fade-up" data-aos-duration="300">
          <div class="row">
            <div class="col-auto mb-2">
              <div class="shop-card"
                style="background: url('https://www.jetcat.de/jetcat/produkte/2020/P100.jpg');">
                <div class="shop-card-category">JetCat P100-RX</div>
                <div class="shop-card-description">
                  <p>Турбины</p>
                </div>
                <a class="shop-card-link" href="{% url 'equipment-detail' %}#details"></a>
              </div>
            </div>
            <div class="col-auto mb-2">
              <div class="shop-card"
                style="background: url('https://www.powerbox-systems.com/uploads/tx_pbsproducts/4450_01_Hauptbild_PB_Competition_SR2.png');">
                <div class="shop-card-category">PowerBox</div>
                <div class="shop-card-description">
                  <p>Электроника</p>
                </div>
                <a class="shop-card-link" href="{% url 'equipment-detail' %}#details"></a>
              </div>
            </div>
            <div class="col-auto mb-2">
              <div class="shop-card"
                style="background: url('https://www.powerbox-systems.com/typo3temp/pics/c313a50095.png');">
                <div class="shop-card-category">PowerBox</div>
                <div class="shop-card-description">
                  <p>Электроника</p>
                </div>
                <a class="shop-card-link" href="{% url 'equipment-detail' %}#details"></a>
              </div>
            </div>
            <div class="col-auto mb-2">
              <div class="shop-card"
                style="background: url('https://www.jetcat.de/jetcat/produkte/2020/P100.jpg');">
                <div class="shop-card-category">JetCat P100-RX</div>
                <div class="shop-card-description">
                  <p>Турбины</p>
                </div>
                <a class="shop-card-link" href="{% url 'equipment-detail' %}"></a>
              </div>
            </div>
            <div class="col-auto mb-2">
              <div class="shop-card"
                style="background: url('https://www.powerbox-systems.com/uploads/tx_pbsproducts/4450_01_Hauptbild_PB_Competition_SR2.png');">
                <div class="shop-card-category">PowerBox</div>
                <div class="shop-card-description">
                  <p>Электроника</p>
                </div>
                <a class="shop-card-link" href="{% url 'equipment-detail' %}"></a>
              </div>
            </div>
            <div class="col-auto mb-2">
              <div class="shop-card"
                style="background: url('https://www.powerbox-systems.com/typo3temp/pics/c313a50095.png');">
                <div class="shop-card-category">PowerBox</div>
                <div class="shop-card-description">
                  <p>Электроника</p>
                </div>
                <a class="shop-card-link" href="{% url 'equipment-detail' %}"></a>
              </div>
            </div>
            <div class="col-auto mb-2">
              <div class="shop-card"
                style="background: url('https://www.jetcat.de/jetcat/produkte/2020/P100.jpg');">
                <div class="shop-card-category">JetCat P100-RX</div>
                <div class="shop-card-description">
                  <p>Турбины</p>
                </div>
                <a class="shop-card-link" href="{% url 'equipment-detail' %}"></a>
              </div>
            </div>
            <div class="col-auto mb-2">
              <div class="shop-card"
                style="background: url('https://www.powerbox-systems.com/uploads/tx_pbsproducts/4450_01_Hauptbild_PB_Competition_SR2.png');">
                <div class="shop-card-category">PowerBox</div>
                <div class="shop-card-description">
                  <p>Электроника</p>
                </div>
                <a class="shop-card-link" href="{% url 'equipment-detail' %}"></a>
              </div>
            </div>
            <div class="col-auto mb-2">
              <div class="shop-card"
                style="background: url('https://www.powerbox-systems.com/typo3temp/pics/c313a50095.png');">
                <div class="shop-card-category">PowerBox</div>
                <div class="shop-card-description">
                  <p>Электроника</p>
                </div>
                <a class="shop-card-link" href="{% url 'equipment-detail' %}"></a>
              </div>
            </div>
            <div class="col-auto mb-2">
              <div class="shop-card"
                style="background: url('https://www.jetcat.de/jetcat/produkte/2020/P100.jpg');">
                <div class="shop-card-category">JetCat P100-RX</div>
                <div class="shop-card-description">
                  <p>Турбины</p>
                </div>
                <a class="shop-card-link" href="{% url 'equipment-detail' %}#details"></a>
              </div>
            </div>
            <div class="col-auto mb-2">
              <div class="shop-card"
                style="background: url('https://www.powerbox-systems.com/uploads/tx_pbsproducts/4450_01_Hauptbild_PB_Competition_SR2.png');">
                <div class="shop-card-category">PowerBox</div>
                <div class="shop-card-description">
                  <p>Электроника</p>
                </div>
                <a class="shop-card-link" href="{% url 'equipment-detail' %}"></a>
              </div>
            </div>
            <div class="col-auto mb-2">
              <div class="shop-card"
                style="background: url('https://www.powerbox-systems.com/typo3temp/pics/c313a50095.png');">
                <div class="shop-card-category">PowerBox</div>
                <div class="shop-card-description">
                  <p>Электроника</p>
                </div>
                <a class="shop-card-link" href="{% url 'equipment-detail' %}"></a>
              </div>
            </div>





          </div>
        </div>


      <div class="shop-pagination">
        <ul class="justify-content-center">
            <li><a href="?page=1">1</a></li>
            <li class="active"><a href="#">1 из 2</a></li>
            <li><a href="?page=2">2</a></li>
        </ul>
      </div>


      </div>
    </div>


</section>
{% endblock %}
