{% extends "base.html" %}
{% load static %}

{% block title %} Новости {% endblock %}




{% block content %}
<style type="text/css">


body {
  margin: 0;
  font-family: Open-sans, sans-serif;
}
h1, h2, h3 {
  font-family: Raleway, Helvetica, sans-serif;
}
h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 0;
}
.padded {
  padding: 100px 0;
}
.wrapper-grey {
  background: #F4F4F4;
}
.avatar {
  width: 30px;
  border-radius: 50%;
}
.avatar-bordered {
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-large {
  width: 50px;
}

.card {
  height: 250px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 22px;
}
.card-description p {
  font-size: 15px;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}
.features img {
  width: 100px;
}
.features h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.features p {
  font-size: 15px;
  font-weight: lighter;
}

.sidebar li .submenu{
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #555555;
}
.sidebar .nav-link:hover {
  color: #3498db;
}


  </style>


  <script type="text/javascript">

    document.addEventListener("DOMContentLoaded", function(){

      document.querySelectorAll('.sidebar .nav-link').forEach(function(element){

        element.addEventListener('click', function (e) {

          let nextEl = element.nextElementSibling;
          let parentEl  = element.parentElement;

          if(nextEl) {
            e.preventDefault();
            let mycollapse = new bootstrap.Collapse(nextEl);

              if(nextEl.classList.contains('show')){
                mycollapse.hide();
              } else {
                mycollapse.show();
                // find other submenus with class=show
                var opened_submenu = parentEl.parentElement.querySelector('.submenu.show');
                // if it exists, then close all of them
              if(opened_submenu){
                new bootstrap.Collapse(opened_submenu);
              }

              }
            }

        });
      })

    });
    // DOMContentLoaded  end
  </script>
<main>
    <section>
    </section>
    <section id="blog" class="team section-bg">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
            <h2>Оборудование</h2>
        </div>
      <div class="container" data-aos="fade-up" data-aos-duration="300">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
              <nav class="sidebar card">
                <ul class="nav flex-column" id="nav_accordion">
                  <li class="nav-item">
                    <a class="nav-link" href="#"> Оборудование</a>
                  </li>
                  <li class="nav-item has-submenu">
                    <a class="nav-link" href="#"> Submenu links <i class="bi small bi-caret-down-fill"></i> </a>
                    <ul class="submenu collapse">
                      <li><a class="nav-link" href="#">Submenu item 1 </a></li>
                        <li><a class="nav-link" href="#">Submenu item 2 </a></li>
                        <li><a class="nav-link" href="#">Submenu item 3 </a> </li>
                    </ul>
                  </li>
                  <li class="nav-item has-submenu">
                    <a class="nav-link" href="#"> More menus <i class="bi small bi-caret-down-fill"></i> </a>
                    <ul class="submenu collapse">
                      <li><a class="nav-link" href="#">Submenu item 4 </a></li>
                        <li><a class="nav-link" href="#">Submenu item 5 </a></li>
                        <li><a class="nav-link" href="#">Submenu item 6 </a></li>
                        <li><a class="nav-link" href="#">Submenu item 7 </a></li>
                    </ul>
                  </li>
                  <li class="nav-item has-submenu">
                    <a class="nav-link" href="#"> Another submenus <i class="bi small bi-caret-down-fill"></i> </a>
                    <ul class="submenu collapse">
                      <li><a class="nav-link" href="#">Submenu item 8 </a></li>
                        <li><a class="nav-link" href="#">Submenu item 9 </a></li>
                        <li><a class="nav-link" href="#">Submenu item 10 </a></li>
                        <li><a class="nav-link" href="#">Submenu item 11 </a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"> Demo link </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"> Menu item </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"> Something </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"> Other link </a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="col" data-aos="fade-up" data-aos-duration="300">
              <div class="row">
                <!-- <div class="col-auto mb-4">
                  <div class="card" style="width: 15rem;">
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
                <div class="col-auto mb-4">
                  <div class="card" style="width: 15rem;">
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
                <div class="col-auto mb-4">
                  <div class="card" style="width: 15rem;">
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div> -->
                <div class="col-auto mb-2">
                  <div class="card" style="background: url('https://www.jetcat.de/jetcat/produkte/hobby/spt15-rx/SPT15-RX-H_1.png'); background-position: center center; width: 15rem;">
                    <div class="card-category">City</div>
                    <div class="card-description">
                      <h2>home</h2>
                      <p>Lovely house</p>
                    </div>
                    <a class="card-link" href="#" ></a>
                  </div>
                </div>
                <div class="col-auto mb-2">
                  <div class="card" style="background: url('https://www.powerbox-systems.com/uploads/tx_pbsproducts/4450_01_Hauptbild_PB_Competition_SR2.png'); background-position: center center; width: 15rem;">
                    <div class="card-category">City</div>
                    <div class="card-description">
                      <h2>home</h2>
                      <p>Lovely house</p>
                    </div>
                    <a class="card-link" href="#" ></a>
                  </div>
                </div>
                <div class="col-auto mb-2">
                  <div class="card" style="background: url('https://www.powerbox-systems.com/typo3temp/pics/c313a50095.png'); background-position: center center; width: 15rem;">
                    <div class="card-category">City</div>
                    <div class="card-description">
                      <h2>Home</h2>
                      <p>Lovely house</p>
                    </div>
                    <a class="card-link" href="#" ></a>
                  </div>
                </div>
                <div class="col-auto mb-2">
                  <div class="card" style="background: url('https://www.jetcat.de/jetcat/produkte/hobby/spt15-rx/SPT15-RX-H_1.png'); background-position: center center; width: 15rem;">
                    <div class="card-category">City</div>
                    <div class="card-description">
                      <h2>home</h2>
                      <p>Lovely house</p>
                    </div>
                    <a class="card-link" href="#" ></a>
                  </div>
                </div>
                <div class="col-auto mb-2">
                  <div class="card" style="background: url('https://www.powerbox-systems.com/uploads/tx_pbsproducts/4450_01_Hauptbild_PB_Competition_SR2.png'); background-position: center center; width: 15rem;">
                    <div class="card-category">City</div>
                    <div class="card-description">
                      <h2>home</h2>
                      <p>Lovely house</p>
                    </div>
                    <a class="card-link" href="#" ></a>
                  </div>
                </div>
                <div class="col-auto mb-2">
                  <div class="card" style="background: url('https://www.powerbox-systems.com/typo3temp/pics/c313a50095.png'); background-position: center center; width: 15rem;">
                    <div class="card-category">City</div>
                    <div class="card-description">
                      <h2>Home</h2>
                      <p>Lovely house</p>
                    </div>
                    <a class="card-link" href="#" ></a>
                  </div>
                </div>
                <div class="col-auto mb-2">
                  <div class="card" style="background: url('https://www.jetcat.de/jetcat/produkte/hobby/spt15-rx/SPT15-RX-H_1.png'); background-position: center center; width: 15rem;">
                    <div class="card-category">City</div>
                    <div class="card-description">
                      <h2>home</h2>
                      <p>Lovely house</p>
                    </div>
                    <a class="card-link" href="#" ></a>
                  </div>
                </div>
                <div class="col-auto mb-2">
                  <div class="card" style="background: url('https://www.powerbox-systems.com/uploads/tx_pbsproducts/4450_01_Hauptbild_PB_Competition_SR2.png'); background-position: center center; width: 15rem;">
                    <div class="card-category">City</div>
                    <div class="card-description">
                      <h2>home</h2>
                      <p>Lovely house</p>
                    </div>
                    <a class="card-link" href="#" ></a>
                  </div>
                </div>
                <div class="col-auto mb-2">
                  <div class="card" style="background: url('https://www.powerbox-systems.com/typo3temp/pics/c313a50095.png'); background-position: center center; width: 15rem;">
                    <div class="card-category">City</div>
                    <div class="card-description">
                      <h2>Home</h2>
                      <p>Lovely house</p>
                    </div>
                    <a class="card-link" href="#" ></a>
                  </div>
                </div>



              </div>
            </div>



      </div>
    </div>


      </section>

</main>
{% endblock %}
