{% extends "equipment/equipment-base.html" %}
{% load static %}

{% block title %}{{ object.name }}{% endblock %}

{% block breadcrumbs %}Оборудование / {{ object.category.name }} / {{ object.name }}{% endblock %}

{% block shop %}
{% for brend in brends %}
  <div class="col-auto mb-2">
    <div class="shop-card"
      style="background: url('{{ brend.image.url }}');">
      <div class="shop-card-category">{{ brend.name }}</div>
      <a class="shop-card-link" href="{% url 'equipment-brends' category_slug=brend.subcategory.category.category_slug subcategory_slug=brend.subcategory.subcategory_slug brend_slug=brend.brend_slug %}#content"></a>
    </div>
  </div>
{% endfor %}
{% endblock %}
