{% extends "equipment/equipment-base.html" %}
{% load static %}

{% block title %}Оборудование1{% endblock %}

{% block breadcrumbs %}Оборудованиеds{% endblock %}

{% block shop %}
  <div class="col-auto mb-2">
    <div class="shop-card"
      style="background: url('https://www.jetcat.de/jetcat/produkte/2020/P100.jpg');">
      <div class="shop-card-category">JetCat P100-RX</div>
      <div class="shop-card-description">
        <p>Турбины</p>
      </div>
      <a class="shop-card-link" href="{% url 'equipment-detail' %}#details"></a>
    </div>
  </div>
  <div class="col-auto mb-2">
    <div class="shop-card"
      style="background: url('https://www.powerbox-systems.com/uploads/tx_pbsproducts/4450_01_Hauptbild_PB_Competition_SR2.png');">
      <div class="shop-card-category">PowerBox</div>
      <div class="shop-card-description">
        <p>Электроника</p>
      </div>
      <a class="shop-card-link" href="{% url 'equipment-detail' %}#details"></a>
    </div>
  </div>
  <div class="col-auto mb-2">
    <div class="shop-card"
      style="background: url('https://www.powerbox-systems.com/typo3temp/pics/c313a50095.png');">
      <div class="shop-card-category">PowerBox</div>
      <div class="shop-card-description">
        <p>Электроника</p>
      </div>
      <a class="shop-card-link" href="{% url 'equipment-detail' %}#details"></a>
    </div>
  </div>
  <div class="col-auto mb-2">
    <div class="shop-card"
      style="background: url('https://www.jetcat.de/jetcat/produkte/2020/P100.jpg');">
      <div class="shop-card-category">JetCat P100-RX</div>
      <div class="shop-card-description">
        <p>Турбины</p>
      </div>
      <a class="shop-card-link" href="{% url 'equipment-detail' %}"></a>
    </div>
  </div>
  <div class="col-auto mb-2">
    <div class="shop-card"
      style="background: url('https://www.powerbox-systems.com/uploads/tx_pbsproducts/4450_01_Hauptbild_PB_Competition_SR2.png');">
      <div class="shop-card-category">PowerBox</div>
      <div class="shop-card-description">
        <p>Электроника</p>
      </div>
      <a class="shop-card-link" href="{% url 'equipment-detail' %}"></a>
    </div>
  </div>
  <div class="col-auto mb-2">
    <div class="shop-card"
      style="background: url('https://www.powerbox-systems.com/typo3temp/pics/c313a50095.png');">
      <div class="shop-card-category">PowerBox</div>
      <div class="shop-card-description">
        <p>Электроника</p>
      </div>
      <a class="shop-card-link" href="{% url 'equipment-detail' %}"></a>
    </div>
  </div>
  <div class="col-auto mb-2">
    <div class="shop-card"
      style="background: url('https://www.jetcat.de/jetcat/produkte/2020/P100.jpg');">
      <div class="shop-card-category">JetCat P100-RX</div>
      <div class="shop-card-description">
        <p>Турбины</p>
      </div>
      <a class="shop-card-link" href="{% url 'equipment-detail' %}"></a>
    </div>
  </div>
  <div class="col-auto mb-2">
    <div class="shop-card"
      style="background: url('https://www.powerbox-systems.com/uploads/tx_pbsproducts/4450_01_Hauptbild_PB_Competition_SR2.png');">
      <div class="shop-card-category">PowerBox</div>
      <div class="shop-card-description">
        <p>Электроника</p>
      </div>
      <a class="shop-card-link" href="{% url 'equipment-detail' %}"></a>
    </div>
  </div>
  <div class="col-auto mb-2">
    <div class="shop-card"
      style="background: url('https://www.powerbox-systems.com/typo3temp/pics/c313a50095.png');">
      <div class="shop-card-category">PowerBox</div>
      <div class="shop-card-description">
        <p>Электроника</p>
      </div>
      <a class="shop-card-link" href="{% url 'equipment-detail' %}"></a>
    </div>
  </div>
  <div class="col-auto mb-2">
    <div class="shop-card"
      style="background: url('https://www.jetcat.de/jetcat/produkte/2020/P100.jpg');">
      <div class="shop-card-category">JetCat P100-RX</div>
      <div class="shop-card-description">
        <p>Турбины</p>
      </div>
      <a class="shop-card-link" href="{% url 'equipment-detail' %}#details"></a>
    </div>
  </div>
  <div class="col-auto mb-2">
    <div class="shop-card"
      style="background: url('https://www.powerbox-systems.com/uploads/tx_pbsproducts/4450_01_Hauptbild_PB_Competition_SR2.png');">
      <div class="shop-card-category">PowerBox</div>
      <div class="shop-card-description">
        <p>Электроника</p>
      </div>
      <a class="shop-card-link" href="{% url 'equipment-detail' %}"></a>
    </div>
  </div>
  <div class="col-auto mb-2">
    <div class="shop-card"
      style="background: url('https://www.powerbox-systems.com/typo3temp/pics/c313a50095.png');">
      <div class="shop-card-category">PowerBox</div>
      <div class="shop-card-description">
        <p>Электроника</p>
      </div>
      <a class="shop-card-link" href="{% url 'equipment-detail' %}"></a>
    </div>
  </div>
{% endblock %}
