{% extends "equipment/equipment-base.html" %}
{% load static %}

{% block title %}Оборудование{% endblock %}

{% block breadcrumbs %}Оборудование{% endblock %}

{% block shop %}
{% for category in object_list %}
  <div class="col-auto mb-2">
    <div class="shop-card"
      style="background: url('{{ category.image.url }}');">
      <div class="shop-card-category">{{ category.name }}</div>
      <a class="shop-card-link" href="{% url 'equipment-categories' category.category_slug %}"></a>
    </div>
  </div>
{% endfor %}
{% endblock %}
