{% extends "base.html" %}
{% load static %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2><a href="{% url 'equipments' %}">Оборудование > </a><a href="{% url 'equipment-categories' category_slug=object.brend.subcategory.category.category_slug %}">{{ object.brend.subcategory.category.name }} > </a><a href="{% url 'equipment-subcategories' category_slug=object.brend.subcategory.category.category_slug subcategory_slug=object.brend.subcategory.subcategory_slug %}">{{object.brend.subcategory.name }} > </a><a href="{% url 'equipment-brends' category_slug=object.brend.subcategory.category.category_slug subcategory_slug=object.brend.subcategory.subcategory_slug brend_slug=object.brend.brend_slug %}">{{object.brend.name }} </a><a href="{% url 'equipment-item' category_slug=object.brend.subcategory.category.category_slug subcategory_slug=object.brend.subcategory.subcategory_slug brend_slug=object.brend.brend_slug pk=object.pk %}#details">{{ object.name }}</a></h2>
      </div>
  </div>
</section>

<div class="modal fade" id="requestItem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Запросить наличие</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"></label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Введите Ваше имя">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput2" class="form-label"></label>
          <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="name@example.com">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label"></label>
          <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Напишите что Вас интересует" rows="10"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" style="border-radius: 30px;" data-bs-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary" style="background: #3498db; border-color: #3498DB; border-radius: 30px;">Отправить</button>
      </div>
    </div>
  </div>
</div>

<section id="shop" class="shop section-bg">
    <div class="container" data-aos="fade-up" data-aos-duration="300">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
          {% include 'equipment/includes/sidebar.html' %}
        </div>

        <div class="col-lg-9 col-md-8 col-sm-6" >
          <section id="details">
            <div class="row">
                <div class="col-lg-5 col-md-9 col-sm-12" >
                  <div class="portfolio-details-slider swiper">
                    <div class="swiper-wrapper">
                      {% for image in object.equipmentitemimage_set.all %}
                      <div class="swiper-slide">
                        <a href="{{ image.image.url }}" data-gallery="portfolioGallery" class="portfolio-lightbox">
                          <img src="{{ image.image.url }}" style="max-width: 400px; max-height: auto; object-position: center;" alt="">
                        </a>
                      </div>
                      {% endfor %}
                    </div>
                    <div class="swiper-button-prev" style="color: #d3d3d342"></div>
                    <div class="swiper-button-next" style="color: #d3d3d342"></div>
                  </div>
                </div>


                <div class="col-lg-7 col-md-12 col-sm-12 gy-3">
                  <div class="shop-detail-description">
                    <h2>{{ object.name }}</h2>
                    <p>{{ object.title }}</p>
                  </div>
                  <div class="row">
                    <div class="col text-center p-3">
                      <a href="mailto:info@rusjet.ru" class="getstarted" data-bs-toggle="modal" data-bs-target="#requestItem" href="">Запросить наличие</a>
                      <!-- <a id="create-question" class="getstarted" href="#about">Запросить наличие</a> -->
                    </div>
                  </div>
                </div>

                <div class="col-lg-10 col-md-12 col-sm-12 gy-3">
                  <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" style="color: #3598db;" id="technical-tab" data-bs-toggle="tab" data-bs-target="#technical" type="button" role="tab" aria-controls="technical" aria-selected="true">Характеристики</button>
                    </li>
                    {% if object.equipmentitemdocument_set.first %}
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" style="color: #3598db" id="documentation-tab" data-bs-toggle="tab" data-bs-target="#documentation" type="button" role="tab" aria-controls="documentation" aria-selected="false">Загрузки</button>
                    </li>
                    {% endif %}
                    {% if object.equipmentitemyoutubevideourl_set.first %}
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" style="color: #3598db;" id="videos-tab" data-bs-toggle="tab" data-bs-target="#videos" type="button" role="tab" aria-controls="videos" aria-selected="false">Видео</button>
                    </li>
                    {% endif %}
                  </ul>
          </section>



                    <div class="tab-content" id="myTabContent">


                        <div class="tab-pane fade show active" id="technical" role="tabpanel" aria-labelledby="technical-tab">
                          <div class="card mb-3">
                              <div class="card-body d-flex align-items-center">
                                <div class="pl-3 data">
                                  <p class="m-0">{{ object.tech_data|safe }}</p>
                                </div>
                              </div>
                          </div>
                        </div>
                        {% if object.equipmentitemdocument_set.first %}
                        <div class="tab-pane fade" id="documentation" role="tabpanel" aria-labelledby="documentation-tab">
                          {% for document in object.equipmentitemdocument_set.all %}
                            <div class="card mb-3">
                              <a href="{{ document.document.url }}">
                                <div class="card-body d-flex align-items-center">
                                  <div class="icon">
                                    <i class="bi bi-file-pdf" style="font-size: 2rem;"></i>
                                  </div>
                                  <div class="pl-3 data">
                                    <p class="m-0">	{{ document.name }}</p>
                                  </div>
                                </div>
                              </a>
                            </div>
                          {% endfor %}

                        </div>
                        {% endif %}

                        {% if object.equipmentitemyoutubevideourl_set.first %}
                        <div class="tab-pane fade" id="videos" role="tabpanel" aria-labelledby="videos-tab">
                          <div class="card mb-3">
                            {% for video_url in object.equipmentitemyoutubevideourl_set.all %}
                            <div class='embed-container mb-3'><iframe src='{{ video_url.video_url }}' frameborder='0' allowfullscreen></iframe></div>
                            {% endfor %}
                          </div>
                        </div>
                        {% endif %}







                    </div>




                </div>

            </div>

        </div>

      </div>

    </div>
</section>

{% endblock %}
{% block extrascripts %}
<script>
  var swiper = new Swiper('.swiper', {
      direction: 'horizontal',
      loop: true,
      centeredSlides: true,
      autoplay: true,
      simulateTouch:true,

      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
</script>
<!-- <script type="text/javascript">
  $(document).ready(function() {

      $("#create-question").modalForm({
          formURL: "{% url 'create_question' %}"
      });

  });
</script> -->
{% endblock %}
