{% extends "base.html" %}
{% load static %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h2>{{ object.name}}</h2>
    </div>
  </div>
</section>

<section id="portfolio-details" class="portfolio-details">

  <div class="container">
    <div class="row justify-content-center">
      {% if carousel_images %}
      <div class="col-md-6">
        <div class="portfolio-details-slider swiper">
          <div class="swiper-wrapper align-items-center">
            {% for image in carousel_images.all %}
            <div class="swiper-slide">
              <a href="{{ image.image.url }}" data-gallery="portfolioGallery"
                class="portfolio-lightbox"><img src="{{ image.image.url }}" alt=""></a>
            </div>
            {% endfor %}
          </div>
          <div class="swiper-button-prev" style="color: #d3d3d342"></div>
          <div class="swiper-button-next" style="color: #d3d3d342"></div>
          <div class="swiper-pagination"></div>
        </div>
        {% endif %}
      </div>

      <div class="col-md-8">
        <div class="portfolio-description">
          <h2>{{ object.short_description }}</h2>
          <p>{{ object.text|safe }}</p>
        </div>
      </div>

    </div>

  </div>
</section>
{% endblock %}
{% block extrascripts %}
<script>
  var swiper = new Swiper('.swiper', {
      direction: 'horizontal',
      loop: true,
      centeredSlides: true,
      autoplay: true,
      simulateTouch:true,

      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
</script>
{% endblock %}
