{% load sidebar %}
<div class="sidebar">

    <div class="sidebar-item search-form">
        <form action="{% url 'search_results' %}" method="get">
        <input name="search" type="search" placeholder="Поиск в новостях">
        <button type="submit"><i class="bi bi-search"></i></button>
        </form>
    </div><!-- End sidebar search formn-->
    <h3 class="sidebar-title">Ближайшие мероприятия:</h3>
    <div class="sidebar-item recent-posts">
        {% get_upcoming_events as events %}
        {% for event in events %}
        <div class="post-item clearfix">
        <img src="{{ event.image.url }}" alt="">
        <h4><a href="{% url 'news_detail' event.id %}">{{ event.name }}</a></h4>
        <time datetime="{{ event.event_date }}">Дата: {{ event.event_date }}</time>
        </div>
        {% endfor %}


    </div><!-- End sidebar recent posts-->

    <h3 class="sidebar-title">Категории</h3>
    <div class="sidebar-item categories">
        <ul>
        {% get_categories as categories %}
        {% for category in categories %}
        <li><a href="{% url 'news_category' category.slug %}">{{ category.name }} <span>(25)</span></a></li>
        {% endfor %}
        </ul>
    </div><!-- End sidebar categories-->


    </div><!-- End sidebar -->
