{% load static %}

{% load nav_services %}
{% load equip_sidebar %}

 <header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">

    <div class="logo">
      <a href="{% url 'index' %}"><img src="{% static '/assets/img/logo.png' %}" alt="" class="img-fluid"></a>
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li class="dropdown active"><a href="{% url 'index' %}#about"><span>О нас</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="{% url 'history' %}">История клуба</a></li>
            <li><a href="{% url 'members' %}">Наша команда</a></li>
            <li><a href="{% url 'achievements' %}">Достижения</a></li>
          </ul>
        </li>
        <li class="dropdown active"><a href="{% url 'index' %}#services"><span>Услуги</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            {% get_service_names as service_names %}
            {% for service_name in service_names %}
            <li><a href="{% url 'serviceitem-detail' service_name.slug %}">{{ service_name.name }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class="dropdown active"><a href="{% url 'equipments' %}#content"><span>Оборудование</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
          {% get_categories as categories %}
          {% for category in categories %}
            <li class="dropdown"><a href="{% url 'equipment-categories' category.category_slug %}#content"><span>{{ category.name }}</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
              {% get_subcategories category as subcategories %}
              {% for subcategory in subcategories %}
                <li class="dropdown"><a href="{% url 'equipment-subcategories' category_slug=subcategory.category.category_slug subcategory_slug=subcategory.subcategory_slug %}#content"><span>{{ subcategory.name }}</span> <i class="bi bi-chevron-right"></i></a>
                  <ul>
                  {% get_brends subcategory as brends %}
                  {% for brend in brends %}
                    <li><a href="{% url 'equipment-brends' category_slug=brend.subcategory.category.category_slug subcategory_slug=brend.subcategory.subcategory_slug brend_slug=brend.brend_slug %}#content">{{ brend.name }}</a></li>
                  {% endfor %}
                  </ul>
              {% endfor %}
              </ul>
          {% endfor %}
          </ul>
        <li><a class="nav-link scrollto" href="{% url 'projects_list' %}">Проекты</a></li>
        <li><a class="nav-link scrollto" href="{% url 'news_list' %}">Новости</a></li>
        <li><a class="nav-link scrollto" href="{% url 'index' %}#contact">Контакты</a></li>
        <li><a id="create-question" class="getstarted scrollto" href="#">Задать вопрос</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>

  </div>
</header>
