{% extends "base.html" %}
{% load static %}

{% block title %}Ошибка 400{% endblock %}

{% block content %}
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">400</h1>
        <p class="fs-3"> <span class="text-danger">Ой...</span> Некорректный запрос.</p>
        <p class="lead">
            Не удалось найти с заданными параметрами URL.
            </p>
        <a href="{% url 'index' %}" class="btn btn-primary">Вернуться на главную</a>
    </div>
 </div>
{% endblock %}
