{% extends "base.html" %}
{% load static %}

{% block title %}Ошибка 403{% endblock %}

{% block content %}
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">403</h1>
        <p class="fs-3"> <span class="text-danger">Ну...</span> Доступ запрещён.</p>
        <p class="lead">
            Возможно мы от вас что-то скрываем или не готовы показать.
            </p>
        <a href="{% url 'index' %}" class="btn btn-primary">Вернуться на главную</a>
    </div>
</div>
{% endblock %}
