{% extends "base.html" %}
{% load static %}

{% block title %}Ошибка 500{% endblock %}

{% block content %}
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">500</h1>
        <p class="fs-3"> <span class="text-danger">Ой...</span> Ошибка сервера.</p>
        <p class="lead">
            На сервере произошла непредвиденная ошибка. Пожалуйста, подождите: она скоро будет исправлена.
            </p>
        <a href="{% url 'index' %}" class="btn btn-primary">Попробовать вернуться на главную</a>
    </div>
</div>
{% endblock %}
