<section id="about" class="about">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>О нас</h2>
      </div>

      <div class="row content">
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
          <p>
          АСК «РусДжет» специализируется на:
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i>разработке и изготовлении летающих радиоуправляемых моделей</li>
            <li><i class="ri-check-double-line"></i>макетов реактивных и поршневых самолетов</li>
            <li><i class="ri-check-double-line"></i>а также организации и проведении специализированных авиамодельных шоу и мероприятий</li>
          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
          <p>
            За всю историю нашего клуба мы накопили огромный опыт, которым готовы делиться со всеми, кто ставит перед собой задачу освоения реактивной авиамодели.
Главные принципы, которые мы исповедуем в своей деятельности — использовать лучшее из доступного, достигать максимума возможного.
          </p>
          <a href="{% url 'history' %}" class="btn-learn-more">История клуба</a>
        </div>
      </div>

    </div>
  </section>
