<section id="about" class="about">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2>О нас</h2>
    </div>

    <div class="row content">
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
        <p>
        Деятельность Авиационного Спортивного Клуба "РусДжет":
        </p>
        <ul>
          <li><i class="ri-check-double-line"></i>Разработка и изготовление летающих радиоуправляемых моделей и БПЛА</li>
          <li><i class="ri-check-double-line"></i>Реализация, внедрение и ремонт микро ТРД</li>
          <li><i class="ri-check-double-line"></i>Изготовление макетов самолётов и вертолётов</li>
          <li><i class="ri-check-double-line"></i>Организация и проведение авиамодельных шоу и специализированных мероприятий</li>
        </ul>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="200">
        <p>
          Более чем 20-летний опыт позволяет нам комплексно реализовывать сложнейшие проекты в области беспилотных летательных аппаратов и авиамоделирования
        </p>
        <a href="{% url 'history' %}" class="btn-learn-more">История клуба</a>
      </div>
    </div>

  </div>
</section>
