<section id="contact" class="contact">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2>Наши контакты</h2>
    </div>

    <div class="row">

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="contact-about">
          <h3>Мы в соцсетях</h3>
          <p>Вы всегда можете следить за нами в этих социальных сетях</p>
          <div class="social-links">
            <a href="https://www.youtube.com/user/rusjet" class="youtube"><i class="bi bi-youtube"></i></a>
            <a href="https://t.me/rusjetclub" class="telegram"><i class="bi bi-telegram"></i></a>
            <a href="https://vk.com/rusjet" class="vkontakte"><i class='bx bxl-vk'></i></a>
            <box-icon type='logo' name='vk'></box-icon>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
        <div class="info">
          <div>
            <i class="ri-map-pin-line"></i>
            <p>121359 Россия, Москва, улица Академика Павлова, 5/2</p>
          </div>

          <div>
            <i class="ri-mail-send-line"></i>
            <p><a  href="mailto:info@rusjet.ru">info@rusjet.ru</a></p>
          </div>

          <div>
            <i class="ri-phone-line"></i>
            <p><a  href="tel:+79055432427">+7 (905) 543-24-27</a></p>
          </div>

        </div>
      </div>

      <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
          <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/213/moscow/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Москва</a><a href="https://yandex.ru/maps/213/moscow/house/ulitsa_marshala_timoshenko_2_5/Z04YdQ5lQUUCQFtvfXt1cH5jZQ==/?ll=37.395946%2C55.741195&rtext=&rtt=comparison&source=wizgeo&utm_medium=mapframe&utm_source=maps&z=17.05" style="color:#eee;font-size:12px;position:absolute;top:14px;">Улица Маршала Тимошенко, 2/5 — Яндекс Карты</a><iframe src="https://yandex.ru/map-widget/v1/-/CCUFm0hPPB" allowfullscreen="true" style="position:relative; width: 100%; height: 270px;"></iframe></div>
      </div>

    </div>

  </div>
  </section>
