{% extends "base.html" %}
{% load static %}
{% block title %} Авиационно-спортивный клуб "Русджет" {% endblock %}



{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">



      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>Рады Вас приветствовать! Сайт находится в разработке.</h1>
          <h2>АСК «РусДжет» специализируется на разработке и изготовлении летающих радиоуправляемых моделей и макетов реактивных и поршневых самолетов, а также организации и проведении специализированных авиамодельных шоу и мероприятий.</h2>
        </div>
      </div>



      </div>

    </div>
  </section><!-- End Hero -->





    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Связаться с нами</h2>
          <!-- <p>Contact Us</p> -->
        </div>
        <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/213/moscow/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Москва</a><a href="https://yandex.ru/maps/213/moscow/house/ulitsa_marshala_timoshenko_2_5/Z04YdQ5lQUUCQFtvfXt1cH5jZQ==/?ll=37.395946%2C55.741195&rtext=&rtt=comparison&source=wizgeo&utm_medium=mapframe&utm_source=maps&z=17.05" style="color:#eee;font-size:12px;position:absolute;top:14px;">Улица Маршала Тимошенко, 2/5 — Яндекс Карты</a><iframe src="https://yandex.ru/map-widget/v1/-/CCUFm0hPPB" allowfullscreen="true" style="position:relative; width: 100%; height: 270px;"></iframe></div>

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Адрес:</h4>
                <p>Москва, Маршала Тимошенко 2/5</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Почта:</h4>
                <p>info@rusjet.ru</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Телефон:</h4>
                <p>+7(905)543-24-27</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <!-- <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form> -->

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
{% endblock %}
