[Unit]
Description=rusjet
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=1200
User=root

WorkingDirectory=/RUSJET/deploy_infra/

# Stop containers and networks
ExecStartPre=docker-compose -f product_deploy.yaml pull backend
ExecStartPre=docker-compose -f product_deploy.yaml pull postgres
ExecStartPre=docker-compose -f product_deploy.yaml down

# Compose up
ExecStart=docker-compose -f product_deploy.yaml up

# Compose down
ExecStop=docker-compose -f product_deploy.yaml down

[Install]
WantedBy=multi-user.target
